.custom-styles-table thead tr{
    background: rgba(0, 0, 0, 0.84);
    color: white;
}

.custom-styles-table thead tr th{
    font-size: 0.6rem;
    padding: 1rem 0;
    text-align: center;
    text-transform: uppercase;
}

.custom-styles-table tbody{
    background: rgba(255, 0, 0, 0.2);
}

.custom-styles-table .table-header{
    background: rgba(0, 0, 0, 0.24);
    font-weight: 300;
    padding: 2rem;
    text-transform: uppercase;
}

.custom-styles-table .table-header select{
    background: black;
    color: white;
}

.custom-styles-table .table-header input{
    background: rgba(0, 0, 0, 0.64);
    border: 2px dashed black;
    color: white;
    padding-left: 2rem;
}

.custom-styles-table .table-paginate{
    font-size: 0.7em;
    font-weight: 700;
}

.custom-styles-table .table-paginate button{
    background: red;
    color: blue;
}

.custom-styles-table .table-paginate button.selected{
    background: purple !important;
    color: white;
}